[Unit]
Description=mlCloudDetect Service

[Service]
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/gtulloch/mlCloudDetect
ExecStart=/home/gtulloch/mlCloudDetect/.venv/bin/python /home/gtulloch/mlCloudDetect/mlCloudDetect.py
Restart=always

[Install]
WantedBy=default.target